<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      View Expenses
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only solid (click)="goToSubmitExpense()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <ion-item-sliding *ngFor = "let expenseItem of expenses">
    <ion-item color="none" (click)="goToExpenseDetail(expenseItem)">
      <ion-icon *ngIf="expenseItem.merchant=='RWS Hotel'" name="flag" item-left></ion-icon>
      <ion-icon *ngIf="expenseItem.merchant!='RWS Hotel'" name="checkmark" item-left></ion-icon>
      <h1>
        {{expenseItem.merchant}}  ${{expenseItem.amount}}
      </h1>
    <!-- <p> $ {{expenseItem.amount}} </p>
    <p> {{expenseItem.category}} </p> -->
    </ion-item>
    </ion-item-sliding>
</ion-content>