<ion-header>

    <ion-navbar>
      <ion-title>Display direction</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
    <ion-toolbar color="default">
      <ion-searchbar [(ngModel)]="search.input" (ionInput)="updateFromResults()" placeholder="From"></ion-searchbar>
     
    </ion-toolbar>
    
    <ion-list id="list" [hidden]="searchItemsList.length == 0">
      <ion-item *ngFor="let item of searchItemsList" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  
    <ion-toolbar color="default">
      <ion-searchbar [(ngModel)]="to.input" (ionInput)="updateToResults()" placeholder="To"></ion-searchbar>
  
    </ion-toolbar>
    
    <ion-list id="list" [hidden]="toItemsList.length == 0">
      <ion-item *ngFor="let item of toItemsList" tappable (click)="selectToResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  
    
    <ion-buttons end>
      <button ion-button (click)="displayRoute()">Display Route</button>
      <button ion-button (click)="clearMarkers()">Clear Markers</button>
    </ion-buttons> 
    <div #map id="map"></div> 
  </ion-content>